.dropdown {
	--color-current-item: var(--white);
	--bg-color-current-item: transparent;
	--item-border-radius: 5px;

	position: relative;
	color: var(--accent);
	font-family: var(--second-family);
	font-size: 1rem;
	font-weight: 600;
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 1000;
}

.isOpen {
	animation: OpenAnimation 0.15s ease-in-out;
}

.isClose {
	display: none;
}

@keyframes OpenAnimation {
	0% {
		scale: 1 0;
		translate: 0 -50%;
	}
	100% {
		scale: 1 1;
	}
}

.dropdownContent {
	--padding: 5px;

	position: absolute;
	top: calc(1.5rem - 5px);
	left: calc(var(--padding) * -1);
	border-radius: var(--item-border-radius);

	background-color: var(--page-button-color);
	color: var(--black);

	&::before {
		content: "";
		position: absolute;
		top: -5px;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 5px;
		background-color: transparent;
	}
}

/* Items */

.item {
	color: var(--color-current-item);
	background-color: var(--bg-color-current-item);

	display: block;
	position: relative;
	border: none;
	font-family: inherit;
	font-size: inherit;

	li > & {
		--color-current-item: black;

		padding: 10px;
		width: 100%;
		border-radius: var(--item-border-radius);

		&:hover {
			--bg-color-current-item: var(--ugsadug);
		}
	}
}

.currentItem {
	--size: 16px;
	--padding: 16px;

	padding-right: var(--padding);

	&::after {
		content: url("/icons/down-tick.svg");
		position: absolute;
		right: -2px;
		top: 50%;
		display: block;
		translate: 0 -50%;
		width: var(--size);
		height: var(--size);
	}
}
