.dropdown {
	--item-border-radius: 5px;

	position: relative;
	color: var(--accent);
	font-family: var(--second-family);
	font-size: 1rem;
	font-weight: 600;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.dropdownContent {
	--padding: 5px;

	position: absolute;
	top: calc(1.5rem - 5px);
	left: calc(var(--padding) * -1);
	border-radius: var(--item-border-radius);

	background-color: var(--page-button-color);
	color: var(--black);

	&:hover {
		display: block;
	}

	&::before {
		content: '';
		position: absolute;
		top: -10px;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 10px;
		background-color: transparent;
	}
}

@keyframes OpenAnimation {
	0% {
		opacity: 0;
		display: block;
	}
	100% {
		opacity: 1;
	}
}

/* Items */

.item {
	--color: var(--white);
	--bg-color: transparent;

	color: var(--color);
	background-color: var(--bg-color);

	display: block;
	position: relative;
	border: none;
	font-family: inherit;
	font-size: inherit;

	li > & {
		--color: black;

		padding: 5px;
		width: 100%;
		border-radius: var(--item-border-radius);

		&:hover {
			--bg-color: var(--ugsadug);
		}
	}
}

.currentItem {
	--size: 16px;
	--padding: 16px;

	padding-right: var(--padding);

	&::after {
		content: url("/icons/down-tick.svg");
		position: absolute;
		right: -2px;
		top: 50%;
		display: block;
		translate: 0 -50%;
		width: var(--size);
		height: var(--size);
	}
}
