body {
	min-height: 100dvh;
}

.root {
	min-height: 100dvh;
	max-width: 100dvw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	--scroll-bar: calc(-1 * (100vw - 100%));
	width: calc(100vw - var(--scroll-bar));
	margin: 0 calc(-50vw + 50% + (var(--scroll-bar) / 2));
}
